<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CompileFolder</key>
	<string>/Users/screenshots/Desktop</string>
	<key>NotesScaleFactor</key>
	<real>1</real>
	<key>SuppressBookmarksFolderCheck</key>
	<false/>
	<key>binderSplitFrames</key>
	<array>
		<string>{{0, 0}, {231, 715}}</string>
		<string>{{232, 0}, {1048, 715}}</string>
	</array>
	<key>binderWidth</key>
	<real>265</real>
	<key>bookmarksPreviewTextSettings</key>
	<dict>
		<key>hasMultiplePages</key>
		<false/>
		<key>isRulerVisible</key>
		<false/>
		<key>lineNumberingInterval</key>
		<integer>1</integer>
		<key>showsLineNumbers</key>
		<false/>
		<key>textScaleFactor</key>
		<real>1</real>
		<key>usesFacingPages</key>
		<false/>
		<key>usesTypewriterScrolling</key>
		<false/>
	</dict>
	<key>bookmarksSelectionInfo</key>
	<dict>
		<key>9EFC730F-4090-48E5-9BB7-393025AEAC03</key>
		<dict>
			<key>DocID</key>
			<string>AC400623-EE94-45CC-8C5A-5E0855B3105E</string>
			<key>Row</key>
			<integer>0</integer>
		</dict>
		<key>BD714501-13FB-452B-A910-01D876676255</key>
		<dict>
			<key>DocID</key>
			<string>AC400623-EE94-45CC-8C5A-5E0855B3105E</string>
			<key>Row</key>
			<integer>0</integer>
		</dict>
		<key>E29361B2-353D-43ED-8EA3-D92D85D400EA</key>
		<dict>
			<key>DocID</key>
			<string>AC400623-EE94-45CC-8C5A-5E0855B3105E</string>
			<key>Row</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>collectionsRepresentedBinderDocumentsInfo</key>
	<dict>
		<key>MainID</key>
		<string></string>
		<key>SupportingID</key>
		<string></string>
	</dict>
	<key>editorSplitFrames</key>
	<array>
		<string>{{0, 0}, {522, 685}}</string>
		<string>{{523, 0}, {525, 685}}</string>
	</array>
	<key>fullScreenTextEditorSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.25</real>
	</dict>
	<key>inspectorSplitFrames</key>
	<array>
		<string>{{0, 0}, {227, 795}}</string>
	</array>
	<key>inspectorWidth</key>
	<real>227</real>
	<key>lastDocumentSplitType</key>
	<integer>1</integer>
	<key>mainDocumentEditor.cardWidth</key>
	<real>214.89898681640625</real>
	<key>mainDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>mainDocumentEditor.interCardSpacing</key>
	<real>30</real>
	<key>mainDocumentEditor.lockedInPlace</key>
	<false/>
	<key>mainDocumentEditor.navigationHistory</key>
	<dict>
		<key>CurrentIndex</key>
		<integer>6</integer>
		<key>NavigationHistoryArray</key>
		<array>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>AC400623-EE94-45CC-8C5A-5E0855B3105E</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>E50CDD82-F423-4217-986F-4B3D2DFBFB06</string>
				</array>
				<key>ViewMode</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>266C0942-9D09-4FC8-B327-DCF921719953</string>
				</array>
				<key>ViewMode</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>AC400623-EE94-45CC-8C5A-5E0855B3105E</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>E2ABA5A6-D89F-46FF-8158-B0B12C65A548</string>
				</array>
				<key>ViewMode</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{218, 0}</string>
				<key>BinderDocUUIDs</key>
				<array>
					<string>584228C1-FC40-4D37-B506-3E463D361508</string>
					<string>21F1F988-FF0B-4B6F-98C5-335268C75AE7</string>
					<string>FA1909EF-2DEE-4698-941A-AFE251D1B49A</string>
					<string>45BB5418-F08D-466B-A3A8-FA03DAC265BF</string>
					<string>7CF8CE35-9096-496F-97BE-6F91B5446096</string>
					<string>E29361B2-353D-43ED-8EA3-D92D85D400EA</string>
					<string>60FD92B8-4321-4909-8F8D-726819303667</string>
					<string>2C055B61-F861-4CAC-83A7-171FCDE5F230</string>
					<string>D22E8F60-AE81-4E6B-99A8-6143AA23DFA5</string>
					<string>01F7CBB4-172B-4B00-96A5-C85B4661C9D2</string>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>E2ABA5A6-D89F-46FF-8158-B0B12C65A548</string>
				</array>
				<key>ViewMode</key>
				<integer>3</integer>
			</dict>
		</array>
	</dict>
	<key>mainDocumentEditor.outlinerColumnsWidths</key>
	<dict>
		<key>label</key>
		<real>123</real>
		<key>status</key>
		<real>104</real>
		<key>title</key>
		<real>415</real>
	</dict>
	<key>mainDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {507, 629}}</string>
	<key>mainDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>mainWindowFrame</key>
	<string>98 388 1280 737 0 0 1920 1178 </string>
	<key>supportingDocumentEditor.cardWidth</key>
	<real>214.89898681640625</real>
	<key>supportingDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>supportingDocumentEditor.interCardSpacing</key>
	<real>30</real>
	<key>supportingDocumentEditor.lockedInPlace</key>
	<false/>
	<key>supportingDocumentEditor.navigationHistory</key>
	<dict>
		<key>CurrentIndex</key>
		<integer>5</integer>
		<key>NavigationHistoryArray</key>
		<array>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>AC400623-EE94-45CC-8C5A-5E0855B3105E</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>266C0942-9D09-4FC8-B327-DCF921719953</string>
				</array>
				<key>ViewMode</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>EB5D7E75-A56D-46E9-B4B1-AF1CDF496BFD</string>
				</array>
				<key>ViewMode</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>EB5D7E75-A56D-46E9-B4B1-AF1CDF496BFD</string>
					<string>FA1909EF-2DEE-4698-941A-AFE251D1B49A</string>
					<string>77233F4D-06EA-4AAC-8A3B-4E8A51E3E19E</string>
					<string>67C14D10-F448-4F44-BEE2-3DA18CE57B31</string>
					<string>7CD0684E-E9F5-4C98-B6FE-4EA9DEA90BE5</string>
					<string>FFE3A3C2-8075-4856-8D85-FA6AD802548C</string>
					<string>090D3BD1-B6DF-4590-ABEB-73A4C47A50FA</string>
					<string>45BB5418-F08D-466B-A3A8-FA03DAC265BF</string>
					<string>2561A0FD-80A1-4FF3-B082-B331AD110158</string>
					<string>FA5B732F-73D0-4392-93F1-618BCD98C988</string>
					<string>0DD82513-DC8D-4A43-AC11-FFF7D82FDF7E</string>
					<string>61A417CB-C43F-497B-AD73-FACD31060FFF</string>
					<string>9F3D60F4-AC65-43A8-8F44-2953AA14AA8A</string>
					<string>5539B054-42B2-4E94-A7FF-234BEE045E97</string>
					<string>7CF8CE35-9096-496F-97BE-6F91B5446096</string>
					<string>C888F4B0-3D1A-4B0C-8AFC-B3F34B260BE7</string>
					<string>7EDFD82D-B067-4D67-A26D-CB5B139C8C96</string>
					<string>365946D7-BEF8-409F-8324-5171692493F5</string>
					<string>25710E90-2119-40A8-B405-B30DCE9E4F30</string>
					<string>E29361B2-353D-43ED-8EA3-D92D85D400EA</string>
					<string>BD714501-13FB-452B-A910-01D876676255</string>
					<string>9EFC730F-4090-48E5-9BB7-393025AEAC03</string>
					<string>89BEF214-6AF7-4BD8-895C-808ACBBA94A0</string>
					<string>F828F0AB-582D-489A-8881-849A228848C6</string>
					<string>AB026D73-77CD-4061-B2DB-7432F0E770C4</string>
					<string>AE803249-6937-4920-8FF3-8A9655D26D58</string>
					<string>60FD92B8-4321-4909-8F8D-726819303667</string>
					<string>C221B867-EED9-4C22-A01E-C10A2C549C36</string>
					<string>09192199-25FA-42DD-8C38-0C932217218F</string>
					<string>AECA4480-8071-4EEA-AFF1-FC3E827A8A2B</string>
					<string>B9D1D96D-8F2C-440D-8EE7-0FD439E444B4</string>
					<string>FEAD8790-FABD-4FC9-8BA8-F660DBCFBF3E</string>
					<string>2C055B61-F861-4CAC-83A7-171FCDE5F230</string>
					<string>F1E755B1-85D1-4775-8D3A-AB1EA1C23B19</string>
					<string>3D896BE7-66F6-4D1A-9AE4-E291CF6019B9</string>
					<string>153BC048-401D-4FE1-A156-B3DBB1991159</string>
					<string>0A52330F-C129-4C60-ACCE-17DCC482D810</string>
					<string>AABCC21E-39B7-47F3-B3B0-260EB07BDC9C</string>
					<string>EE133D73-C67E-47CA-BCB1-AE3F73E2C388</string>
					<string>86DEFE9E-948C-43E4-A7FD-F8047E395B1C</string>
					<string>D22E8F60-AE81-4E6B-99A8-6143AA23DFA5</string>
					<string>9CBA6AD1-0AEF-4B87-8597-A93C14819097</string>
					<string>A815E56C-CBF4-4605-8692-86DB8EECD348</string>
					<string>98A5FA20-149D-4089-BCD2-48565E9A02E7</string>
					<string>1BBF5A4C-A9EE-4546-88DE-2FACFE791EC2</string>
					<string>EF13D2D9-5721-4BA5-A84C-7A2C907171EF</string>
					<string>01F7CBB4-172B-4B00-96A5-C85B4661C9D2</string>
					<string>46CB8DFB-2258-4B8C-8A8E-C38F04AF3CED</string>
					<string>918C8B75-2255-496C-AF0E-973CF205DE0D</string>
					<string>5CAA03E6-E612-46B5-AAAA-354136C814A2</string>
					<string>40A32007-D4E6-4638-BDE0-FCC40DD8A4DB</string>
				</array>
				<key>ViewMode</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>EB5D7E75-A56D-46E9-B4B1-AF1CDF496BFD</string>
					<string>090D3BD1-B6DF-4590-ABEB-73A4C47A50FA</string>
					<string>5539B054-42B2-4E94-A7FF-234BEE045E97</string>
					<string>25710E90-2119-40A8-B405-B30DCE9E4F30</string>
					<string>AE803249-6937-4920-8FF3-8A9655D26D58</string>
					<string>FEAD8790-FABD-4FC9-8BA8-F660DBCFBF3E</string>
					<string>86DEFE9E-948C-43E4-A7FD-F8047E395B1C</string>
					<string>EF13D2D9-5721-4BA5-A84C-7A2C907171EF</string>
					<string>2CCE27EE-ED32-4247-890B-FC3ADC2311F2</string>
					<string>64C4C1DC-8D37-4DF3-A37F-BB60CBD175A3</string>
					<string>36A94E68-1102-488B-912A-E15B18DA234E</string>
				</array>
				<key>ViewMode</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>266C0942-9D09-4FC8-B327-DCF921719953</string>
				</array>
				<key>ViewMode</key>
				<integer>3</integer>
			</dict>
		</array>
	</dict>
	<key>supportingDocumentEditor.outlinerColumnsWidths</key>
	<dict>
		<key>allKeywords</key>
		<real>59</real>
		<key>createdDate</key>
		<real>78</real>
		<key>label</key>
		<real>119.1171875</real>
		<key>modifiedDate</key>
		<real>82</real>
		<key>sectionType</key>
		<real>77</real>
		<key>status</key>
		<real>81.66796875</real>
		<key>title</key>
		<real>419</real>
	</dict>
	<key>supportingDocumentEditor.qrSplitFrame</key>
	<array>
		<string>{{0, 0}, {525, 327}}</string>
		<string>{{0, 328}, {525, 327}}</string>
	</array>
	<key>supportingDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {606, 294}}</string>
	<key>supportingDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>supportingDocumentViewIsCurrent</key>
	<true/>
</dict>
</plist>
